github "ReactiveX/RxSwift" ~> 5.0
github "RxSwiftCommunity/NSObject-Rx"
github "thii/FontAwesome.swift"
github "Interactive-Studio/TransitionableTab" ~> 0.2.0
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxOptional"
github "RxSwiftCommunity/RxAlamofire"
github "pmusolino/PMSuperButton"
